# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# MATLAB
# ==========================
*.asv
*.autosave
slprj/
*.mex*
*.slxc

# ==========================
# ANSYS
# ==========================
*.rst
*.rth
*.err
*.lock
*.db
*.bak
*.out

# Mechanical
*_files/

# Fluent
*.cas.h5
*.dat.h5

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary
# ==========================
temp/
tmp/

# ==========================
# Mac
# ==========================
.DS_Store